body.active-modal {
	overflow-y: hidden;
}

.createphoto {
	width: 350px;
	border: 1px solid gray;
	border-radius: 5px;
	margin: 5px;
}

.photoformItem {
	display: flex;
	align-items: center;
	gap: 15px;
}

.pictureup {
	margin-right: 40px;
}

.photoBtn {
	background-color: maroon;
	border: none;
	padding: 5px;
	width: 150px;
	border-radius: 5px;
	margin: 0 auto;
	font-size: 16px;
	font-weight: bold;
	color: white;
}
.animationcont {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-left: 15px;
}
.animation {
	height: auto;
	margin: 10px;
	background-color: maroon;
	border-radius: 5px;
	width: 390px;
}
.animation img {
	width: 390px;
	height: 250px;
	object-fit: fill;
	border-radius: 5px;
}

.deletephotobtn {
	background-color: aquamarine;
	border: none;
	font-weight: bold;
	padding: 5px 10px;
	color: black;

	border-radius: 5px;
}

.btnp {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
	gap: 20px;
	padding: 5px;
}
.btnp p {
	color: white;
	font-weight: bold;
}

.photoadd {
	background-color: maroon;
	border: none;
	padding: 5px;
	width: 150px;
	border-radius: 5px;
	margin: 0 auto;
	font-size: 16px;
	font-weight: bold;
	color: white;
	margin: 20px;
}

photosCont {
	position: relative;
}

.deleteModal {
	width: 60%;
	padding: 5px;
	font-size: 20px;
	position: absolute;
	bottom: 60px;
	background-color: white;
}

.deleteModal p {
	color: black;
}

.deleteModal button {
	margin-right: 30px;
	padding: 5px 10px;
	border: none;
	font-weight: bold;
	border-radius: 5px;
	color: white;
}

.yesdelete {
	background-color: red;
}

.nodelete {
	background-color: green;
}
