.maindiv {
	position: relative;
}

.donateimg {
	height: 600px;
	width: 100%;
}

.donatecont {
	position: absolute;
	bottom: 30px;
	background-color: white;
	height: 450px;
	font-size: 20px;
	right: 20px;
	padding: 20px;
	border-radius: 5px;
	font-size: 20px;
	width: 350px;
}

.figures {
	color: aquamarine;
}

.donatecont h4 {
	margin-bottom: 20px;
	text-align: center;
	color: maroon;
}
.donatecont h6 {
	margin-bottom: 20px;
	/* line-height: 20px; */
	font-size: 30px;
}

.donatecont p {
	color: aquamarine;
	font-weight: 500;
}

.othercont {
	height: 80px;
	background-color: white;
	position: absolute;
	bottom: 30px;
	left: 20px;
	padding: 10px;
	border-radius: 5px;
	font-size: 20px;
	color: maroon;
	font-weight: 900;
}

.donatespn {
	color: black;
}
