.containerHed {
  background-color: brown;
  position: relative;
  overflow-x: hidden;
}

.headerimg {
  padding: 0;

  object-fit: cover;
  overflow: hidden;
}

.headerimg img {
  width: 100%;
}
.headertext {
  position: absolute;
  background-color: white;
  padding: 10px;
  bottom: 55px;
  left: 250px;
  width: 60%;
  color: maroon;
  font-size: 25px;
  font-weight: 700;
}

/* RESPONSIVENESS */

@media (max-width: 768px) {
  .headertext {
    left: 100px;
  }
}
@media (max-width: 656px) {
  .headerimg img {
    width: 100%;
  }
  .headertext {
    position: absolute;
    left: 5px;
    width: 75%;
    bottom: 10px;
    font-size: 14px;
  }
}
@media (max-width: 340px) {
  .headerimg img {
    width: 100%;
  }
  .headertext {
    position: absolute;

    padding: 5px;
    bottom: 0px;
    right: -10px;
    width: 65%;

    font-size: 12px;
  }
}
