@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600&family=Lora:ital,wght@1,500;1,600;1,700&family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300;1,500&family=Rubik:wght@400;500;700&family=Titillium+Web:wght@200;400;600&family=Urbanist:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Varela&family=Varela+Round&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Urbanist", sans-serif;
}

.containerNav {
	background-color: brown;
	color: white;
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	padding: 10px;
	/* position: fixed; */
}

.title {
	font-size: 20px;
}
.nav-btn {
	padding: 5px;
	cursor: pointer;
	border: none;
	outline: none;
	font-size: 16px;
	display: none;
	opacity: 0;
}
.segul {
	display: flex;
	justify-content: space-between;
	list-style: none;
}
.segul a {
	margin: 30px;
	color: white;
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
}
.navseg:hover {
	text-decoration: underline;
	text-decoration-color: white;
	text-decoration-thickness: 700;
}

@media (max-width: 768px) {
	.containerNav {
		display: flex;
		flex-direction: column;
		padding: 10px 0;
		height: auto;
	}
}
@media (max-width: 480px) {
	.containerNav {
		padding: 5px;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
		/* position: relative; */
		height: auto;
	}
	.title {
		font-size: 16px;
	}
	.segul {
		display: none;
	}
	.segulr {
		display: flex;
		flex-direction: column;
	}
	.segulr li {
		list-style: none;
	}
	.segulr a {
		margin: 30px;
		color: black;
		text-decoration: none;
		font-size: 16px;
		font-weight: 500;
		cursor: pointer;
	}

	.iconres {
		padding: 5px;
		background-color: aquamarine;
		font-size: 30px;
	}

	.nav-btn {
		display: block;
		opacity: 1;
		/* position: absolute; */
		top: 15px;
		right: 10px;
	}
	.nav_open {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.segulr {
		display: flex;

		transition: 1s;
		/* transform: translateY(-100vh); */
	}
	.responsive_nav {
		transform: none;
	}
}
