.containtest {
  margin-bottom: 40px;
  overflow-x: hidden;
}

.testtitle {
  text-align: center;
  margin: 15px;
  text-decoration: underline;
  text-decoration-color: brown;
}

.testitems {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.testitem {
  text-align: center;
  border: 1px solid gray;
  margin: 10px;
  height: auto;
  width: 300px;
  border-radius: 10px;
}

.testitem img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  float: left;
  margin: 10px;
}

.testtext {
  display: flex;
  padding-top: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .testitem {
    height: auto;
    padding: 5px;
  }

  .testitem img {
    float: none;
  }
}

@media (max-width: 480px) {
  .testitems {
    display: flex;
    flex-direction: column;
  }
}
